doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='Bennett Gebkens personal site / resume')
        meta(name='author', content='Bennett Gebken')

        title Bennett Gebken - Resume

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.1/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Bennett Gebken
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='')
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#about') About
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#experience') Experience
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#education') Education
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#skills') Skills
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#interests') Interests
                    li.nav-item
                        a.nav-link.js-scroll-trigger(href='#awards') Awards

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Bennett 
                        span.text-primary Gebken
                    .subheading.mb-5
                        | Washington, D.C. Area · (703) 727-4713 ·
                        a(href='mailto:bennett.gebken@gmail.com') Email
                    p.lead.mb-5
                        | Intrapreneur with extensive experience navigating highly ambiguous and complex situations to deliver results. Experienced leading cross-functioning teams in Agile environments, using various methodologies in fast-paced IT projects to deliver AI, Machine Learning, Optical Character Recognition, Robotic Process Automation, and other technologies. Veteran of the Marine Corps Infantry, served two deployments to Afghanistan and awards include the Combat Action Ribbon, Navy Achievement Medal, and Presidential Unit Citation.
                    .social-icons
                        a.social-icon(href='https://www.linkedin.com/in/gebken/')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='https://github.com/bgebken')
                            i.fab.fa-github
                        a.social-icon(href='https://twitter.com/BennettGebken')
                            i.fab.fa-twitter
                        a.social-icon(href='https://www.facebook.com/gebken/')
                            i.fab.fa-facebook-f

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experience

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Lead Solution Architect
                            .subheading.mb-3 Aptive Resources
                            p
                                | Leads design and implementation of complex Information Technology solutions to solve difficult problems for government customers
                        .flex-shrink-0
                            span.text-primary September 2020 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Senior Program Analyst
                            .subheading.mb-3 Veterans Affairs
                            p
                                | Led the development of Optical Character Recognition (OCR), Robotic Process Automation (RPA), Artificial Intelligence (AI), and Business Process Management (BPM) products which were integrated using an event driven architecture to deploy over two hundred unattended bots which freed up approximately 450 employees to work on claims rather then triaging incoming mail, reducing the cost of the intake process by approximately $45 Million dollars and increasing the efficiency by 90 percent, resulting in mail being processed in 1 day instead of the historical average of 10 days. Prototyped and implemented an AI to save the government $20 Million Dollars
                        .flex-shrink-0
                            span.text-primary March 2019 - September 2020

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Government Employee
                            .subheading.mb-3 Veterans Affairs
                            p
                                |  Management Analyst, Program Analyst, Human Resources, and other roles within the government. Solved problems and recieved an outstanding rating every year
                        .flex-shrink-0
                            span.text-primary April 2012 - March 2019

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Rifleman (0311)
                            .subheading.mb-3 United States Marine Corps
                            p
                                | Combat veteran - 2 deployments to Helmand Province, Afghanistan
                        .flex-shrink-0
                            span.text-primary March 2008 - January 2012

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Education

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Regis University
                            .subheading.mb-3 Master of Science
                            div IT Management: Emphasis in Data Science
                            p GPA: 3.97, Graduate Honors, Alpha Sigma Nu
                        .flex-shrink-0
                            span.text-primary 2018 - 2020

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Regis University
                            .subheading.mb-3 Bachelor of Science
                            div IT Management: Emphasis in Data Science
                            p GPA: 3.96, Summa Cum Laude, Ada Lovelace Award, Salute Honor Society
                            
                        .flex-shrink-0
                            span.text-primary 2014 - 2018

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Skills
                    .subheading.mb-3 Programming Languages & Tools
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-python
                        li.list-inline-item
                            i.fab.fa-unity
                        li.list-inline-item
                            i.fas.fa-robot
                        li.list-inline-item
                            i.fab.fa-microsoft
                        li.list-inline-item
                            i.fab.fa-react
                        li.list-inline-item
                            i.fab.fa-node-js
                        li.list-inline-item
                            i.fab.fa-snowflake
                        li.list-inline-item
                            i.fab.fa-git
                        li.list-inline-item
                            i.fab.fa-wordpress
                        li.list-inline-item
                            i.fab.fa-linux
                        li.list-inline-item
                            i.fab.fa-aws
                        li.list-inline-item
                            i.fab.fa-npm
                    .subheading.mb-3 Workflow
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Experienced leveraging Scrum, XP, and SAFe methodologies for agile delivery as well as using CI/CD to deliver in DevSecOps enviroment.
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Comprehensive understanding of federal cyber security (NIST, FedRAMP, FISMA, etc.) and eMASS documentation required. 
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Optical Character Reconition, Machine Learning, Robotic Process Automation, and Business Process Management
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Lean Six Sigma and Project Managment Professional training

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interests
                    p
                        | I focus on spending time with my kids and personal development to continue to expand my understanding of the world
                    p.mb-0
                        | Also, I follow a number of sci-fi and fantasy genre movies and television shows, as well as spending time exploring the latest technology advancements with a focus on how it could improve civic tech

            hr.m-0

            // Awards
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Awards & Certifications
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 2019 Gears of Government Award
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Lady Ada Lovelace Award for Outstanding Achievement in Computer Science - Regis University
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Superior Performance Awards (8) - Veterans Affairs
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Special Contribution Awards (6) - Veterans Affairs
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Presidential Unit Citation, Navy Achievement Medal, Combat Action Ribbon, NATO/ISAF Joint Operations Medal, Afghanistan Campaign Medal, Global War on Terrorism Medal, National Defense Medal

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Core theme JS
        script(src='js/scripts.js')